body {
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  height: 100%;
}

.App {
  text-align: center;
}

.colors,
header {
  box-sizing: border-box;
  clear: both;
}

.colors,
body,
header,
html {
  min-width: 960px;
}
