body {
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  height: 100%;
}

.App {
  text-align: center;
}

.colors,
header {
  box-sizing: border-box;
  clear: both;
}

.colors,
body,
header,
html {
  min-width: 960px;
}

.see-more {
  background: rgba(255,255,255,.3);
    position: absolute;
    right: 0;
    bottom: 0;
    color: #fff;
    border-radius: 0;
    width: 70px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    opacity: 1;
    z-index: 900;
    cursor: pointer;
}