.color {
  cursor: pointer;
  margin: 0 auto;
  height: 145px;
  display: inline-block;
  width: 20%;
  position: relative;
  margin-bottom: -3.5px;
}

.copy-button {
  width: 100px;
  height: 30px;
  display: inline-block;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -15px;
  position: absolute;
  text-align: center;
  background: rgba(255, 255, 255, 0.3);
  line-height: 30px;
  border-radius: 0;
  opacity: 0;
  color: #fff;
  text-transform: uppercase;
}

.copy-button:hover,
.copied {
  opacity: 1;
  transition: 0.5s;
  border: none;
}

.box-content {
  position: absolute;
  left: 10px;
  bottom: 10px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
  display: block;
  font-weight: bold;
  letter-spacing: 1px;
}
